footer {
    font-synthesis: weight;
    font-size: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 1.5em;
    min-height: 2em;
    width: 100%;
    color: black;
    text-align: center;
}

nav{
    color: black; 
}


body {
    background-color: pink;
}

header h1 {

    font-size: 4em;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/*--------------------------------------*/
