footer {
    font-synthesis: weight;
    font-size: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 1.5em;
    min-height: 2em;
    width: 100%;
    color: black;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

body {
    background-color: purple;
}

nav a:hover {
    background: white;
}

nav a {
    padding: 1em .5em;
    color: rgb(160, 160, 160);
    text-decoration: none;
}