@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/CSS/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>

<nav role="navigation">

    <ul>
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">Categories</a>
            <ul class="dropdown">
                <li><a href="/Category/Index/1">Cars</a></li>
                <li><a href="/Category/Index/2">SD</a></li>
                <li><a href="#">All Posts</a></li>
            </ul>
        </li>
        <li><a href="#">Three</a></li>
    </ul>

</nav>


<body>
    @RenderBody()
</body>
<footer>
    &copy; M.A-Blogs 2019
</footer>
</html>
