@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <nav>
        <ul>
            <li><a href="#"><b>Home</b></a></li>
            <li><a href="#aboutMe"><b>Categories</b></a></li>
            <li><a href="#projects"><b>Tags</b></a></li>
        </ul>
    </nav>
</head>
<body>
    @RenderBody()
</body>
<footer>
    &copy; M.A-Blogs 2019
</footer>
</html>
