@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/CSS/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
    <nav>
            <a href="#"><b>Home</b></a>
            <a href="#aboutMe"><b>Categories</b></a>
            <a href="#projects"><b>Tags</b></a>
    </nav>
<header>
    <h1>Personal Blog</h1>
    <span>Angel</span>
</header>

<body>
    @RenderBody()
</body>
<footer>
    &copy; M.A-Blogs 2019
</footer>
</html>
